@import 'tailwindcss';

@theme {
  --font-pixel: 'Pixelify Sans', sans-serif;
  --font-anta: 'Anta', sans-serif;

  --color-light: #fcf6e2;
  --color-dark: #2d2f2c;
  --color-grey-inactive: #797979;
  --color-yellow-1: #c18a26; /* text */
  --color-yellow-2: #d79f3b; /* buttons */
  --color-yellow-3: #dfaf53; /* background */
  --color-yellow-shadow: rgba(223, 175, 83, 0.7); /* shadow */
  --color-red-1: #f25a51; /* text */
}

body {
  background-color: var(--color-light);
  font-family: var(--font-pixel);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@layer utilities {
  @media (min-height: 44em), (max-width: 40em) {
    .hero-h-dvh {
      height: 100dvh;
    }
  }
}
